h1, legend, h2 {
  color: red;
  font-family: "Staatliches", sans-serif;
}

.pagina {
  color: #4E4958;
  font-size: 14px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
}

span {
  color: #C1BCCC;
  font-size: 12px;
  line-height: 20px;
}

header p {
  font-size: 20px;
}