body{
  padding-top: 145px;
}
body::before{
  content: '';
  background: #535971;
  height: 436px;
  width: 100%;

  position: absolute;
  z-index: -1;
  top: 0;
}

h1, legend, h2 {
  color: #535971;
  font-family: "Staatliches", sans-serif;
}

.pagina {
  color: #4E4958;
  font-size: 14px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  width: 750px;
  margin-inline: auto;
}

span {
  color: #C1BCCC;
  font-size: 12px;
  line-height: 20px;
}

header h1 {
  color: white;
  font-size: 48px;
 

}
header p {
  font-size: 20px;
  color: white;
  width: 417px;
  margin-bottom: 58px;
}

header{
  margin-inline: auto;
}