
body{
  padding-top: 145px;
  background: #E5E5E5;
}
body::before{
  content: '';
  background: #535971;
  height: 436px;
  width: 100%;

  position: absolute;
  z-index: -1;
  top: 0;
}

h1, legend, h2, footer .button {
  color: #535971;
  font-family: "Staatliches", sans-serif;
}

.pagina {
  font-size: 14px;
  line-height: 24px;
  font-family: "Poppins", sans-serif;
  color: #4E4958;
  
  width: 750px;
  margin-inline: auto;
}

span {
  color: #C1BCCC;
  font-size: 12px;
  line-height: 20px;
}

header{
  margin-inline: auto;
}

header h1 {
  color: white;
  font-size: 48px;
}

header p {
  font-size: 20px;
  color: white;
  width: 417px;
}

form {
  background: white;
  
  border-radius: 8px 8px 0 0;
  margin-top: 58px;
  padding: 64px;
}

form legend {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 12px;
}

fieldset {
  border: none;
  border-top: 2px solid #E6E6F0;
  padding: 32px 0;
}

fieldset h2{
  font-size: 20px;
  line-height: 34px;
}

.form-wrapper-wrapper{
  display: flex;
  gap: 22px;
  align-items: center;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.form-wrapper input {
  border-radius: 8px;
  height: 56px;
  margin-bottom: 8px;
  font-size: large;
}

footer {
  background: #535971;

  padding: 52px 71px;
  border-radius: 0 0 8px 8px;
}

footer .button {
  font-size: 20px;
  color: white;
  text-align: center;

  width: 608px;
  height: 55px;

  border-radius: 20px;

  background: #FF5374;

}
